.app {
    text-align: center;
}

h1 {
    font-weight: 800;
    font-size: 38px;
    background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}